@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

body{
	background-color: #d2c0dc;
	font-size: 18px;
	font-family: "Caveat", cursive;
}

h1{
	color: white;
}

.header{
	margin: 0.8em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}